name: Static Analysis

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-analyze:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential cppcheck

      - name: Build
        run: make


      - name: Static Analysis
        run: cppcheck --enable=warning,performance,portability --error-exitcode=1 --suppress=missingIncludeSystem -I . .
